.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.attendencePass, .attendenceFail {
  position: relative;
  font-size: 0;
}
.attendencePass:after, .attendenceFail:after {
  content: '';
  width: 2.2vw;
  height: 0.6vw;
  background: #49BE20;
  position: absolute;
  left: -1.1vw;
  top: -0.7vw;
  border-radius: 1vw;
}
.attendenceFail:after {
  background: #F0441A;
}

.MuiTextField-root{
  width: 100%;
}

input[type="checkbox"] + svg {
  color: #104F96;
}
@media (min-width: 1200px) {
  input[type="checkbox"] + svg {
  width: 1vw !important;
  height: 1vw !important;
  }
}